*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
    
.position {
    position: relative;
    border: 3px solid #73AD21;
}

.positionright {
    position: absolute;
    right: 0;
    border: 3px solid #73AD21;
}


.button {
        background-color: #009860; 
        padding: 6px 10px; /*ระยะห่างของขอบปุ่มและข้อความภายใน*/
        text-align: center; /*การจัดวางข้อความในปุ่ม (ตรงกลาง)*/
        text-decoration: none; /*การจัดรูปแบบข้อความ (ไม่มีขีดเส้นใต้)*/
        display: inline-block; /*การแสดงผลเป็น inline-block*/
        font-size: 16px; /*ขนาดตัวอักษร*/
        margin: 2px 2px; /*ระยะห่างรอบขอบปุ่ม*/
        transition-duration: 0.4s; /*ระยะเวลาที่ใช้ในการเปลี่ยนสีเมื่อ hover (0.4 วินาที)*/
        cursor: pointer; /*รูปลูกศรของเมาส์เมื่อชี้ไปยังปุ่ม*/
        border-radius: 6px; /*ขอบมน*/
    }
    
    
.buttongreen {
        background-color: white; 
        color: #009860; 
        border: 1px solid #009860;
    }

.buttongreen:hover {
        background-color: #009860;
        color: white;
    }


    
table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 10px; /* เพิ่มระยะห่างด้านบนของตาราง */
}
    
thead th, tbody td {
    /*border: 1px solid black;*/
    padding: 8px; /* เพิ่มขอบรอบของข้อความในเซลล์ */
    text-align: center; /* จัดตำแหน่งข้อความในเซลล์ไว้ตรงกลาง */
    border-bottom: 1px solid #DDD; /* ขอบด้านล่างสำหรับแถว */
}

thead tr {
    border-bottom: 1px solid #DDD; /* ขอบด้านล่างสำหรับแถวใน tbody */
}

tbody tr {
    border-bottom: 1px solid #DDD; /* ขอบด้านล่างสำหรับแถวใน tbody */
}

    
tbody tr:hover {
    background-color: #F0F8FF; /* พื้นหลังเปลี่ยนสีเมื่อโฮเวอร์ทุกรายการใน tbody */
}
    
